@font-face {
    font-family: montserrat-light;
    src: url(../fonts/montserrat-light.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/montserrat-thin.ttf);
}

body {
    background-color: #242a35;
}

main{
  width: 100%;
}

#content{
    margin: 100px 0px auto;
}

#name {
    font-family: montserrat-light;
    color: #fff;
    text-align: center;
    margin: 16px auto;
}

#description {
    font-family: montserrat-thin;
    color: rgba(255,255,255,0.65);
    text-align: center;
    margin: 16px auto;
}

#about-me {
  font-family: montserrat-thin;
  font-size: 1.25em;
  color: rgba(255,255,255,0.65);
  text-align: center;
  margin: 24px auto;
}

#avatar-container{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #464d60;
    margin: 0 auto;
}

#avatar{
    height: 310px;
    width: 185px;
    display: block;
}

#links-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#link-github {
  margin-right: 20px;
}

#link-linkedin {
  margin-left: 20px;
}

.icon {
  opacity: 0.5;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
}

.icon:hover {
  opacity: 1;
  transform: translateY(-5px);
}
