body {
    background-color: #242a35;
}

main{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

#content{
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

#avatar-container{
    height: 375px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #464d60;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#avatar{
    height: 80%;
    width: auto;
    max-height: 310px;
    max-width: 185px;
    display: block;
}
/*light*/
#name {
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
/*thin*/
#description {
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(255,255,255,0.75);
    text-align: center;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#about-me {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 1.25em;
  line-height: 1.5;
  color: rgba(255,255,255,0.75);
  text-align: center;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

#links-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#link-github {
  margin-right: 20px;
}

#link-linkedin {
  margin-left: 20px;
}

.icon {
  opacity: 0.5;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
}

.icon:hover {
  opacity: 1;
  transform: translateY(-5px);
}
